<%= provide(:description, 'I would like to enter keywords and a description of the home page only of my ruby website. The home page has ') %>
<%= provide(:keywords, 'Home, fred, grace, heaven, george') %>

<h1>Hello Back Forty</h1>
<h2>
  The time is now: <%= Time.now %>
</h2>
