// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'BreiteGrotesk-Regular';
  src: url('fonts/BreiteGrotesk-Regular.woff') format('woff');
  src: url('fonts/BreiteGrotesk-Regular.ttf') format('truetype');
  src: url('fonts/BreiteGrotesk-Regular.otf') format('otf');
}
// NULL CSS BEGIN

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

textarea:focus, input:focus{
    outline: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
a:hover {
  text-decoration: none;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

input {
  -webkit-appearance: none;
  box-shadow: none !important;
}
:-webkit-autofill {
  color: #fff !important;
}
// NULL CSS END

body {
  transition: 0.2s;
  background-color: #1a2a3f;
  color: #efebe5;

  iframe {
    visibility: none;
    opacity:0;
  }
  h1, h2 {
    display: none;
  }
  p {
    width: 100%;
    font-size: 14px;
    font-family: "BreiteGrotesk-Regular", sans-serif;
    text-align: center;
    position: fixed;
    transform: translate(-50%, 0);
    left: 50%;
  }
  p.top {
    top: 33px;

    span:after {
        content:"\00a0\00a0\00a0\00a0";
        text-decoration:line-through;
    }
  }
  p.sign-up {
    bottom: 33px;

    span {
      padding-bottom: 2px;
      border-bottom: 1px solid transparent;
      -o-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;

    }
  }
  p.sign-up span:hover {
    cursor: pointer;
    color: #efebe5;
    border-bottom: 1px solid #efebe5;
  }
  img {
    position: fixed;
  }
  .star {
    width: 73px;
    top: 27px;
    left: 27px;
  }
  .ray {
    width: 60px;
    top: 33px;
    right: 33px;
  }
  .b-40-logo {
    width: 130px;
    top: 50%;
    transform: translate(0, -50%);
  }
  .b-40-logo.left {
    left: 33px;
  }
  .b-40-logo.right {
    right: 33px;
  }
  .ram {
    width: 160px;
    bottom: 26px;
    left: 32px;
  }
  .wolf {
    width: 137px;
    bottom: 33px;
    right: 33px;
  }
  .b40.center {
    width: 330px;
    position: fixed; /* or absolute */
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);

    -webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2.5s; /* Firefox < 16 */
    -ms-animation: fadein 2.5s; /* Internet Explorer */
     -o-animation: fadein 2.5s; /* Opera < 12.1 */
        animation: fadein 2.5s;
  }
  @media screen and (min-width: 1440px) {
    .star {
      width: 5%;
    }
    .ray {
      width: 4%;
    }
    .b-40-logo {
      width: 11%;
    }
    .ram {
      width: 13%;
    }
    .wolf {
      width: 11%;
    }
    .b40.center {
      width: 32%;
    }
  }
  @media screen and (min-width: 731px) {
    .hidden-md {
      display: none;
    }
  }
  @media screen and (max-width: 730px) {
    p.top {
      top: 4.6vh;
    }
    p.sign-up {
      bottom: 4.6vh;
    }
    .hidden-xs {
      display: none;
    }
    .b-40-logo.right {
      right: 0;
      width: 18.75vh;
      top: 14.5vh;
      left: 49%;
      transform: translate(-50%, -50%);
    }
    .b40.center {
      top: 47%;
      width: 42.8vh;
      transform: translate(-50%, -50%);
    }
    .ram {
      width: 21.7vh;
      bottom: 2.2vh;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @media screen and (max-width: 320px) {
    .hidden-xs {
      display: none;
    }
    .b-40-logo.right {
      width: 100px;
    }
    .b40.center {
      width: 230px;
    }
    .ram {
      bottom: 8%;
      width: 110px;
    }
  }
  @keyframes drawline {
    from { width: 0; }
    to   { width: 100%; }
  }

  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  //POP UP
  #overlay {
      position: fixed; /* Sit on top of the page content */
      width: 100%; /* Full width (cover the whole page) */
      height: 100%; /* Full height (cover the whole page) */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.4); /* Black background with opacity */
      z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer; /* Add a pointer on hover */
  }
  .close {
    width: 13px;
    cursor: pointer;
    color: black;
    margin: 23px auto 15px auto;
  }
  .not-active {
    display: none;
  }
  .active {
    display: block;
  }
  div.pop-up {
    z-index: 10;
    background-color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 338px;
    max-height: 515px;

    h6 {
      margin: auto auto 100px auto;
      font-family: "BreiteGrotesk-Regular", sans-serif;
      font-size: 12px;
      display: block;
      color: #010101;
      text-align: center;
    }
    #post_email, #post_age, #post_first_name, #post_last_name {
      font-weight: 500;
      border-radius: 0;
      text-align: center;
      width: 292px;
      background: transparent;
      border: none;
      border-bottom: 1px solid #000000;
      display: block;
      font-size: 14px;
      background-color: transparent;
    }
    #post_email {
      margin: 30px auto 5px auto;
    }
    #post_age {
      margin: 30px auto 5px auto;
    }
    #post_first_name {
      margin: 30px auto 5px auto;
    }
    #post_last_name {
      margin: 30px auto 5px auto;
    }
    #form-submit {
      font-weight: 500;
      -webkit-appearance: none;
      font-family: "BreiteGrotesk-Regular", sans-serif;
      font-size: 12px;
      background-color: white;
      text-transform: uppercase;
      border: 0 none;
      cursor: pointer;
      -webkit-border-radius: 5px;
      display: block;
      margin: 78px auto auto auto;
    }
    #input-feedback {
      font-weight: 500;
      position: fixed; /* or absolute */
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    p.label {
      font-size: 8px;
      font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
      color: black;
    }
    .disclaimer p {
      font-size: 8px;
      font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
      color: black;
      width: 292px;
      bottom: 15px;
    }
  }
}
// body tag end
