// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// NULL CSS BEGIN

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
a:hover {
  text-decoration: none;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
// NULL CSS END

body {
  background-color: #1a2a3f;
  color: #efebe5;

  h1, h2 {
    display: none;
  }
  p {
    text-align: center;
    margin-top: 33px;
  }
  p.sign-up {
    position: fixed;
    bottom: 33px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    margin-top: 0;
  }

  img {
    position: fixed;
  }
  .star {
    width: 73px;
    top: 33px;
    left: 33px;
  }
  .ray {
    width: 60px;
    top: 33px;
    right: 33px;
  }
  .b-40-logo {
    width: 130px;
    top: 50%;
    transform: translate(0, -50%);
  }
  .b-40-logo.left {
    left: 33px;
  }
  .b-40-logo.right {
    right: 33px;
  }
  .ram {
    width: 160px;
    bottom: 33px;
    left: 33px;
  }
  .wolf {
    width: 137px;
    bottom: 33px;
    right: 33px;
  }
  .b40.center {
    width: 330px;
    position: fixed; /* or absolute */
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media screen and (min-width: 731px) {
    .hidden-md {
      display: none;
    }
  }
  @media screen and (max-width: 730px) {
    .hidden-xs {
      display: none;
    }
    .b-40-logo.right {
      right: 0;
      width: 138px;
      top: 14%;
      left: 50%;
      transform: translate(-50%, 0%);
    }
    .b40.center {
      top: 47%;
      width: 300px;
    }
    .ram {
      bottom: 4%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @media screen and (max-width: 320px) {
    .hidden-xs {
      display: none;
    }
    .b-40-logo.right {
      width: 110px;
      top: 85px;
    }
    .b40.center {
      width: 250px;
    }
    .ram {
      bottom: 8%;
      width: 110px;
    }
  }

}
// body tag end
