// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'BreiteGrotesk-Regular';
  src: url('fonts/BreiteGrotesk-Regular.woff') format('woff');
  src: url('fonts/BreiteGrotesk-Regular.ttf') format('truetype');
  src: url('fonts/BreiteGrotesk-Regular.otf') format('otf');
}
// NULL CSS BEGIN

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
a:hover {
  text-decoration: none;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
// NULL CSS END

body {
  background-color: #1a2a3f;
  color: #efebe5;

  h1, h2 {
    display: none;
  }
  p {
    font-size: 12px;
    font-family: "BreiteGrotesk-Regular", sans-serif;
    text-align: center;
    position: fixed;
    transform: translate(-50%, 0);
    width: 100%;
    left: 50%;
  }
  p.top {
    top: 33px;

    span:after {
        content:"\00a0\00a0\00a0\00a0";
        text-decoration:line-through;
    }
  }
  p.sign-up {
    bottom: 33px;
  }
  p.sign-up:hover {
    cursor: pointer;
  }
  img {
    position: fixed;
  }
  .star {
    width: 73px;
    top: 27px;
    left: 27px;
  }
  .ray {
    width: 60px;
    top: 33px;
    right: 33px;
  }
  .b-40-logo {
    width: 130px;
    top: 50%;
    transform: translate(0, -50%);
  }
  .b-40-logo.left {
    left: 33px;
  }
  .b-40-logo.right {
    right: 33px;
  }
  .ram {
    width: 160px;
    bottom: 26px;
    left: 32px;
  }
  .wolf {
    width: 137px;
    bottom: 33px;
    right: 33px;
  }
  .b40.center {
    width: 330px;
    position: fixed; /* or absolute */
    top: 52%;
    left: 50%;
    transform: translate(-52%, -50%);

    -webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2.5s; /* Firefox < 16 */
    -ms-animation: fadein 2.5s; /* Internet Explorer */
     -o-animation: fadein 2.5s; /* Opera < 12.1 */
        animation: fadein 2.5s;
  }
  @media screen and (min-width: 1440px) {
    .star {
      width: 7%;
    }
    .ray {
      width: 6%;
    }
    .b-40-logo {
      width: 11%;
    }
    .ram {
      width: 12%;
    }
    .wolf {
      width: 10%;
    }
    .b40.center {
      width: 32%;
    }
  }
  @media screen and (min-width: 731px) {
    .hidden-md {
      display: none;
    }
  }
  @media screen and (max-width: 730px) {
    p.top {
      top: 4.6vh;
    }
    p.sign-up {
      bottom: 4.6vh;
    }
    .hidden-xs {
      display: none;
    }
    .b-40-logo.right {
      right: 0;
      width: 18.75vh;
      top: 13.5vh;
      left: 49%;
      transform: translate(-50%, 0%);
    }
    .b40.center {
      top: 47%;
      width: 42.8vh;
      transform: translate(-50%, -50%);
    }
    .ram {
      width: 23.7vh;
      bottom: 2.2vh;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @media screen and (max-width: 320px) {
    .hidden-xs {
      display: none;
    }
    .b-40-logo.right {
      width: 100px;
      top: 85px;
    }
    .b40.center {
      width: 230px;
    }
    .ram {
      bottom: 8%;
      width: 110px;
    }
  }

  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  svg.twinkle {
    position: fixed; /* or absolute */
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 730px) {
      transform: translate(-44%, -50%);
    }

  	// position: absolute;
  	// -webkit-transform: translate(102%, 350%);
  	// transform: translate(102%, 350%);

  .group {
      -webkit-transform: translate(42.5px,42.5px);
      -moz-transform: translate(42.5px,42.5px);
      transform: translate(42.5px, 42.5px);
  }
  path {
      -webkit-transform: translate(-42.50px,-42.50px);
      -moz-transform: translate(-42.50px,-42.50px);
      transform: translate(-42.50px,-42.50px);
  }
  .large {
  	-webkit-animation: large 2.5s forwards;
  	-moz-animation: large 2.5s forwards;
  }
  .large-2 {
  	-webkit-animation: large-2 2.5s forwards;
  	-moz-animation: large-2 2.5s forwards;
  }
  .small {
  	-webkit-animation: small 2.5s forwards;
  	-moz-animation: small 2.5s forwards;
  }
  @-webkit-keyframes large {
  	0% {
  		opacity: 0;
  		-webkit-transform: rotate(0deg) scale(0);
  		transform: rotate(0deg) scale(0);
  	}
  	50% {
  		opacity: 1;
  	}
  	100% {
  		opacity: 0;
  		-webkit-transform: rotate(360deg) scale(1.5);
  		transform: rotate(360deg) scale(1.5);
  	}
  }
  @-moz-keyframes large {
  	0% {
  		opacity: 0;
  		transform: rotate(0deg) scale(0);
  	}
  	50% {
  		opacity: 1;
  	}
  	100% {
  		opacity: 0;
  		transform: rotate(360deg) scale(1.5);
  	}
  }
  @-webkit-keyframes large-2 {
  	0% {
  		opacity: 0;
  		-webkit-transform: rotate(45deg) scale(0);
  		transform: rotate(45deg) scale(0);
  	}
  	50% {
  		opacity: 1;
  	}
  	100% {
  		opacity: 0;
  		-webkit-transform: rotate(405deg) scale(1.1);
  		transform: rotate(405deg) scale(1.1);
  	}
  }
  @-moz-keyframes large-2 {
  	0% {
  		opacity: 0;
  		transform: rotate(45deg) scale(0);
  	}
  	50% {
  		opacity: 1;
  	}
  	100% {
  		opacity: 0;
  		transform: rotate(405deg) scale(1.1);
  	}
  }
  @-webkit-keyframes small {
  	0% {
  		opacity: 0;
  		-webkit-transform: rotate(0deg) scale(0);
  		transform: rotate(0deg) scale(0);
  	}
  	50% {
  		opacity: 1;
  	}
  	100% {
  		opacity: 0;
  		-webkit-transform: rotate(-360deg) scale(1);
  		transform: rotate(-360deg) scale(1.5);
  	}
  }
  @-moz-keyframes small {
  	0% {
  		opacity: 0;
  		transform: rotate(0deg) scale(0);
  	}
  	50% {
  		opacity: 1;
  	}
  	100% {
  		opacity: 0;
  		transform: rotate(-360deg) scale(1.5);
  	}
  }
  }
}
// body tag end
